.product-tile {
    text-align: center;
}

.small-image {
    width: 150px;
}

.product-image {
    margin: auto;
    border: solid 1px black;
}

.product-name, .product-price {
    color: black;
    text-align: center;
}

.subimage {
    display: inline-block;
    vertical-align: bottom;
}

.small-image:hover{
    width: 300px;
    border: solid 1px black;
}

.center{
    text-align: center;
}
