.product-tile {
    display: inline-block;
    max-width: 315px;
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;
}

.product-image {
    max-width: 205px;
    margin: auto;
    border-bottom: solid 1px black;
}

.product-name, .product-price {
    color: black;
    text-align: center;
}
