<%inherit file="app_base.htm" />

<%block name="title">Catalog</%block>

<%block name="center_column">
<div class="text-center">
    <h1 class="text-center">${ 'Products' if category is None else category.name }</h1>
    <div id="catalog">
        %for product in products:
            <span class="product-container" data-product-id="${ product.id }"></span>
        %endfor
    </div>
</div>
    <div id="paginator" class="text-center">
        <br>
        <a class="btn btn-secondary" href="/catalog/index/${ category.id if category is not None else 0 }/${ page if page == 1 else (page - 1) }">Back</a>
        <a class="btn btn-secondary" href="/catalog/index/${ category.id if category is not None else 0 }/${ page if page == numpages else (page + 1) }">Next</a>
    </div>
</%block>
